body {
  font-family: "Segoe UI", sans-serif;
  background: #e2e2e2;
  color: #222;
  text-align: center;
  padding: 20px;
}

#game-ui {
  margin-bottom: 20px;
}

canvas {
  background: #333;
  border: 3px solid #111;
}

